<!DOCTYPE html>
<html>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script type="text/javascript" src="home.js"></script>
<style>
  h1 {
    background-color: lightgreen;

  }
  #register {

    position: relative;

    text-align: right;
  }
  #blog {

    position: relative;

    text-align: left;
  }
  #schedule {

    position: relative;

    text-align: center;
  }
  div {
    width: 900px;
    height: 300px;
    position: relative;
    background-color: pink;
    text-align: center;
  }
</style>
<head>


</head>
<h1>
  <button id="register" onClick="register()">Register</button>
  <button id="blog" onClick="blog()">Blog</button>
  <button id="schedule" onClick="schedule()">Schedule</button>
</h1>


<body>
  <div id="main">This is a blog post this is a blog post this is a blog post
     this is a blog post this is a blog post this is a blog post
     this is a blog post this is a blog post this is a blog post
   this is a blog post this is a blog post this is a blog post
 this is a blog post this is a blog post this is a blog post
this is a blog post this is a blog post this is a blog post
this is a blog post this is a blog post this is a blog post
this is a blog post this is a blog post this is a blog post
this is a blog post this is a blog post this is a blog post
this is a blog post this is a blog post this is a blog post
this is a blog post this is a blog post this is a blog post
this is a blog post this is a blog post this is a blog post
this is a blog post this is a blog post this is a blog post</div>

</body>
</html>
